# D13 pandas 統計函式使用教學


## 作業目標: 

1. 敘述統計量計算 
2. 運用自定義函數apply

## 作業重點: 

1. 了解敘述統計量並解釋 
2. 運用apply時須注意自定義函數寫法

## 題目 
對以下成績資料做分析 
1. 6號學生(student_id=6)3科平均分數為何? 
2. 6號學生3科平均分數是否有贏過班上一半的同學? 
3. 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是? 
4. 承上題，加分後各科班平均變多少?
 
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])

In [1]:
import pandas as pd
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score
student_id
1                   56             66             70
2                   90             45             34
3                   45             32             55
4                   70             77             89
5                   56             80             70
6                   60             54             55
7                   45             70             79
8                   34             77             76
9                   25             87             60
10                  88             40             43

## 1. 6號學生(student_id=6)3科平均分數為何?

In [20]:
#1. 6號學生(student_id=6)3科平均分數為何?
avg = score_df.mean(axis=1)
avg[6]
#Ans. 56.333333

56.333333333333336

## 2. 6號學生3科平均分數是否有贏過班上一半的同學

In [25]:
#2. 6號學生3科平均分數是否有贏過班上一半的同學
#求其他同學的平均分數中位數
if avg[6] > avg.median() :
    print('班上同學的平均分數為：', avg.median(),
          '\n6號學生3科平均分數為：', avg[6], 
          '\n6號學生3科平均分數有贏過班上一半同學')
else:
    print('班上同學的平均分數為：', avg.median(),
          '\n6號學生3科平均分數為：', avg[6], 
          '\n6號學生3科平均分數沒有贏過班上一半同學')

班上同學的平均分數為： 59.833333333333336
6號學生3科平均分數為： 56.333333333333336
6號學生3科平均分數沒有贏過班上一半同學

## 3.由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?

In [31]:
#3.由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?
lam = score_df.apply(lambda x : x**(0.5)*10)
lam
print('經調整後，6號同學的三科成績為：\n', lam[5:6])

經調整後，6號同學的三科成績為：
             math_score  english_score  chinese_score
student_id
6            77.459667      73.484692      74.161985

## 4.承上題，加分後各科班平均變多少

In [37]:
#4.承上題，加分後各科班平均變多少
lam.mean()

math_score       74.194221
english_score    78.350301
chinese_score    78.739928
dtype: float64